.article {
  background: white;
  box-shadow: 0px 4px 20px rgba(189, 188, 188, 0.25);
  padding: 20px 40px;
  margin: 20px 0px;
}

.article:hover {
  box-shadow: 0px 4px 20px rgba(189, 188, 188, 0.45);
}

.posts {
  padding: 60px 8%;
  text-align: justify;
}

.posts h1 {
  font-family: avenir;
  font-size: 1.3rem;
  font-weight: 100;
  color: #2a4b80;

  margin-bottom: 10px;
}

@media (max-width: 601px) {
  .posts h1 {
    margin-top: 10px;
  }
}

a {
  text-decoration: none;
}

.high2 {
  color: #2a4b80;
  font-weight: 700;
  font-size: 0.9rem;
  font-family: avenir;
  margin-bottom: 0px;
}

.post-desc {
  color: #313030;
  font-size: 0.7rem;
  font-family: avenir;
  margin-bottom: 0px;
}

.memoires {
  background: #f8f8f8;
  color: #2a4b80;
  padding: 70px 15%;
  margin-bottom: 150px;
}

.mem {
}
