
.high-m {
  color: #2a4b80;
  font-weight: 700;
  font-size: .8rem;
  font-family: avenir;
  margin-left: 10px;



}


.metro{
  margin-bottom: -5px;
}


.righto{
  margin-right: 100px;
  text-align: justify;
}

.lefto{
  float: left;
  width: 40%;
  margin-left: 55%;
  text-align: justify;

}

.maps{
  width: 50%;
  height: 400px;
}


@media(max-width: 600px) {
  .lefto{
  float: none;
   width: 100%;
   margin-left: 0px;
}

.righto{
  margin-right: 0px;
  text-align: justify;
  width:100%;
}

.maps{
  width: 100%;
  margin: auto;
}

}


