.salaries{
  display: flex;
  justify-content: space-between;
  align-items: center
}





.picindex3{
  width: 100px;
  margin-bottom: 0px;
  margin-right: 10px
}

.picindex4{
  width: 80px;
  margin-bottom: 0px;
  margin-right: 10px
}

.b:hover{

 box-shadow: 0px 4px 20px rgba(189, 188, 188, 0.55);

}
.blue2{


  color: #2a4b80;
  font-family: avenir;
  font-weight: 700;
  justify-content: space-between;
}

@media(max-width: 1200px) {
  .blue2{

  display: block;
  margin-top:0px;

}
}

.blue2 h3{
  font-size: .8rem;
   color: #2a4b80;
   margin-bottom:0px;
}

.blue2 p{
  font-weight:100;
  font-size: .7rem;
   color: #2a4b80;
}



.blue2 a {
  color: white;
  font-weight: 900;
}

.picdefense{
  height: 150px;
  width: 100%;
  background-size: cover;
}

.picdefense2{
  width: 200px;
}

@media(max-width: 1200px) {
  .picdefense{

  width: 100%

}}



@media(max-width: 900px) {
  .picdefense{

  width: 100%

}}

.salaries-right{
flex: 0 0 30%;
text-align: justify;
margin-right: 0px;
margin-top: 0px;
}

.salaries-left{
  flex: 0 0 60%;
 margin-right: 50px;
}


@media(max-width: 600px) {
  .salaries{

  display: block;

}
.salaries-left{
  margin-right: 0px

  }
.picdefense{
  width: 95%;
  margin:auto;
  }}



.indemn2{

  display: flex;
  padding: 15px;


  align-items: center;
  margin:  20px 0px;
    box-shadow: 0px 4px 20px rgba(189, 188, 188, 0.25);
}



.indemn2 p{
  text-align: justify;
}

.indemn2:hover {
 box-shadow: 0px 4px 20px rgba(189, 188, 188, 0.55);
}

.salar2{

  display:flex;


  margin:  20px 0px;
  align-items: center;
  padding: 15px;
    box-shadow: 0px 4px 20px rgba(189, 188, 188, 0.25);
}

.salar2 p{
  text-align: justify;
}

.salar2:hover {
 box-shadow: 0px 4px 20px rgba(189, 188, 188, 0.55);
}



.ass2{

 display:flex;
  padding: 15px;
  align-items: center;

  margin:  20px 0px;
    box-shadow: 0px 4px 20px rgba(189, 188, 188, 0.25);
}


.ass2 p{
  text-align: justify;
}

.ass2:hover {
 box-shadow: 0px 4px 20px rgba(189, 188, 188, 0.55);
}
