.banner{
  width : 100%;


  background-size: cover;
  position: relative;
  top: 0px;
  left:0px;
  position: fixed;
  z-index: 1;


}




@media(max-width: 600px) {
  .banner{

  top: 70px;

}
}


.subt{
  font-weight: 300;
}

.titleQ{
  font-weight: 500;
  font-size: 1rem;
  color: #2a4b80 ;
}
.titleQ2{
  font-weight: 300;
 font-size: .8rem;
  color: #2a4b80 ;
  position: absolute;
  top : 20px;
}


.bold{
  font-weight: 900;
  color: #2a4b80 ;
}


.picindex{

  margin-bottom: 70px;
}

.picindex2{

  margin-bottom: 70px;
}

.yellows{
  margin-right: 15px;
}


.yellows3{
  margin-right: 15px;
  margin-bottom: -3px;
}




.yellows2{
  margin-right: 10px;
  margin-left: -3px;
}


.home-div{
  margin-top: 500px;
}

.home-div h1{
   font-family: avenir;
  font-size: 1.4rem;
  font-weight: 300;
  color: #2a4b80;

  margin-bottom: 40px;
}


@media(max-width: 600px) {
  .home-div{
  margin-top: 300px;
}
}




.title{
  font-family: avenir;
  font-size: .9rem;
  font-weight: 700;
  color: #2a4b80;

}

.title-w{
  font-family: avenir;
  font-size: .9rem;
  font-weight: 700;
  color: white;

}

.title-w2{
  font-family: avenir;
  font-size: .9rem;
  font-weight: 700;
  color: white;
  text-align: center;
}


.desc{
  font-family: avenir;
  font-size: .8rem;
  color: #313030;
}

.desc-w{
  font-family: avenir;
  font-size: .8rem;
  color: white;
}


.box{
  display: flex;
  width: 100%;
margin:auto;
padding: 50px 8%;
padding-top: 20;
justify-content: space-around;
align-items: center;


}


@media(max-width: 600px) {
  .box{

  display: block;
}
}



.rightbox{

font-family: avenir;
box-shadow: 0px 4px 20px rgba(189, 188, 188, 0.25);
width: 270px ;
font-size: .7rem;
margin: 20px;


}


.rightbox:hover{
  box-shadow: 0px 4px 20px rgba(189, 188, 188, 0.55);
  cursor: pointer
}

.leftbox{
  flex: 0 0 70%;
  margin-right: 70px;

}

.uuup{
  padding-top:-15px;
  margin-bottom: 40px
}

.uup{
  margin-top:-25px;
}

.leftbox p{
  text-align: justify;
}


.number{
  font-weight: 900;
  color: #2a4b80;
  font-family: avenir;
}
.n2{
  margin-top: -20px;
}


.hours{
  font-size: .7rem;
  color: #313030;

}


.blue{
  display: flex;
  padding: 100px 10%;
  background: #2a4b80;
  color: white;
  font-family: avenir;
  font-weight: 700;
  justify-content: space-between;
}

@media(max-width: 800px) {
  .blue{

  display: block;
}
}

.blue h3{
  font-size: .9rem
}

.blue p{
  font-weight:100;
  font-size: .7rem;
  color: white;
}

.blue a {
  color: white;
  font-weight: 700;
   font-size: .7rem;

}

.lire {
  font-weight: 900;
  margin-right: 5px;
}


.indemn{
  flex: 0 0 28%;
  text-align: center;
  margin:  10px;
  padding: 15px;
}

.indemn:hover {
background:#28487B
;
}



.indemn p{
  text-align: justify;
}

.salar{
  flex: 0 0 28%;
  text-align: center;
  margin:  10px;
   padding: 15px;
}

.salar p{
  text-align: justify;
}
.salar:hover {
background:#28487B;
}


.ass{
  flex: 0 0 28%;
  text-align: center;
  margin:  10px;
  padding: 15px;
}


.ass p{
  text-align: justify;
}

.ass:hover {
background:#28487B;
}

.profile-pic-contact{
width: 270px;

}


.contact-box{

  position: relative;
  font-size: .7rem;
}


@media(max-width: 900px) {
  .contact-box{

  display: block;

}


.box{
  padding:30px 10%;
}

.leftbox{
  margin-right: 30px;
}
}


.title2{
margin-top:-20px;
}

.contact-right{
  padding:0px 23px;
  padding-bottom: 7px;
  flex: 0 0 60%;
}


.contact-right p{
  color: #313030;
}

@media(max-width: 900px) {
  .contact-right{
 padding:20px 20px;
  }
}


@media(max-width: 600px) {
  .leftbox{
    margin-right:0px;
  }
}


.arrow{
  margin-left: 10px;
}
