.banner{
  width : 100%;


  background-size: cover;
  position: relative;
  top: -70px;
  left:0px;
  position: fixed;
  z-index: 1;


}


.av{
  font-size: .8rem;
  font-weight: 500;
  margin-top: -20px;
  color: #313030;
}




@media(max-width: 600px) {
  .banner{

  top: 155px;

}
}


.subt{
  font-weight: 300;
}


.titleQ2{
  font-weight: 300;
 font-size: .8rem;
  color: #2a4b80 ;
  position: absolute;
  top : 20px;
}


.bold{
  font-weight: 900;
  color: #2a4b80 ;
}


.picindex{

  margin-bottom: 70px;
}

.picindex2{

  margin-bottom: 70px;
}

.yellows{
  margin-right: 15px;
}


.yellows3{
  margin-right: 15px;
  margin-bottom: -3px;
}


.transparent{
  background: rgba(255, 255, 255, 0.8);
  height: 150px;
  text-align: center;
  color: #2a4b80;
  font-family: avenir;
  font-size: 2rem;
  font-weight: 700;
  padding: 20px;

}

.yellows2{
  margin-right: 10px;
  margin-left: -3px;
}


.home-div{
  margin-top: 500px;
}

.home-div h1{
   font-family: avenir;
  font-size: 1.6rem;
  font-weight: 500;
  color: #2a4b80;

  margin-bottom: 40px;
}


@media(max-width: 600px) {
  .home-div{
  margin-top: 300px;
}
}


h3{
  font-family: avenir;
   font-size: .9rem;
  font-weight: 700;
  color: #2a4b80;
}



.title{
  font-family: avenir;
  font-size: 1rem;
  font-weight: 700;
  color: #2a4b80;
  margin-top: 60px;

}

.title-w{
  font-family: avenir;
  font-size: .9rem;
  font-weight: 700;
  color: white;

}

.title-w2{
  font-family: avenir;
  font-size: .9rem;
  font-weight: 700;
  color: white;
  text-align: center;
}


.desc{
  font-family: avenir;
  font-size: .8rem;
  color: #313030;
   text-align: justify;
}

.desc-s{
  font-family: avenir;
  font-size: .8rem;
  color: #313030;
  margin-bottom: 0px;

   text-align: justify;
}




.desc-w{
  font-family: avenir;
  font-size: .8rem;
  color: white;
}


.desc-r{
   font-family: avenir;
  font-size: .9rem;
  color: #313030;

   text-align: justify;
   margin-bottom: 15px;

}


.box{
  display: flex;
  width: 100%;
margin:auto;
padding: 50px 8%;
background: white;

justify-content: space-around;
align-items: center;


}

.box h2{
  margin-bottom: 60px;
}


@media(max-width: 600px) {
  .box{

  display: block;
}
}



.rightbox{

font-family: avenir;
box-shadow: 0px 4px 20px rgba(189, 188, 188, 0.25);
width: 270px ;
font-size: .7rem;
margin: 20px;
background: #F8F8F8;
max-height: 450px;


}


.rightbox:hover{
  box-shadow: 0px 4px 20px rgba(189, 188, 188, 0.55);
  cursor: pointer
}

.leftbox{
  flex: 0 0 70%;
  margin-right: 70px;
  margin-top: -50px

}

.uuup{
  padding-top:-15px;
  margin-bottom: 40px
}

.uup{
  margin-top:-25px;
}

.leftbox p{
  text-align: justify;
}


.number{
  font-weight: 900;
  color: white;
  font-family: avenir;
}
.n2{
  margin-top: -20px;
}


.hours{
  font-size: .7rem;
  color: #313030;

}


.blue{
  display: flex;
  padding: 100px 6%;
  background:#F5F5F5;
  color: #313030;
  font-family: avenir;
  font-weight: 700;
  justify-content: space-between;
}

@media(max-width: 800px) {
  .blue{

  display: block;
}
}

.blue h3{
  font-size: .9rem;
  color: #2a4b80;
}

.blue p{
  font-weight:100;
  font-size: .7rem;
  margin-bottom: -.3rem;


}

.blue a {
  color: #313030;
  font-weight: 700;
   font-size: .7rem;

}

.lire {
  font-weight: 900;
  background:#2a4b80 ;

  color:white;
  margin-top: 30px;
  margin-bottom: 0px
}

.lire p{
color: white;
margin: 0px;
padding: 10px;}


.indemn{
  flex: 0 0 28%;
  text-align: center;
  margin:  20px 10px;
  padding-top: 20px ;

  background: white;}

.indemn:hover {
box-shadow: 0px 4px 20px rgba(189, 188, 188, 0.55);

}



.indemn p{
  text-align: justify;
  padding: 0px 20px;
}

.salar{
  flex: 0 0 28%;
  text-align: center;
  margin:  20px 10px;
  padding-top: 20px;

  background: white;
}

.salar p{
  text-align: justify;
  padding: 0px 20px;
}
.salar:hover {
box-shadow: 0px 4px 20px rgba(189, 188, 188, 0.55);
}


.ass{
  flex: 0 0 28%;
  text-align: center;
  margin:  20px 10px;
  padding-top: 20px;

  background: white;
}


.ass p{
  text-align: justify;
  padding: 0px 20px;
}

.ass:hover {
box-shadow: 0px 4px 20px rgba(189, 188, 188, 0.35);
}

.profile-pic-contact{
width: 270px;

}


.contact-box{

  position: relative;
  font-size: .7rem;
  background: #F8F8F8;
}


@media(max-width: 900px) {
  .contact-box{

  display: block;

}


.box{
  padding:30px 10%;
}

.leftbox{
  margin-right: 30px;
}
}


.title2{
margin-top:-20px;
}

.contact-right{
  padding:0px 23px;
  padding-bottom: 7px;
  flex: 0 0 60%;
}


.contact-right p{
  color: #313030;
}

@media(max-width: 900px) {
  .contact-right{
 padding:20px 20px;
  }
}


@media(max-width: 600px) {
  .leftbox{
    margin-right:0px;
  }
}


.arrow{
  margin-left: 10px;
}


.bold a{
  text-decoration: underline;
  color: #2a4b80;
 }

 .underl{
text-decoration: underline;
 }
