

.parcours{
  color: #2a4b80;
  background:#F5F5F5;
  padding: 50px 7%;
  text-align: center;
  margin-bottom: 100px

}


@media(max-width: 901px) and (min-width: 601px) {
  .parcours{


}
}






.parcours p{
  color:  #2a4b80;

  font-weight: 700;
   font-family: avenir;
   font-size: .8rem;
   margin: 5px;


}

.parcours h4{
  color: #2a4b80;

  text-align: center;
}







.lecabinet-left{
  flex: 0 0 40%;
  margin-right: 50px;

}


.lecabinet-left p{

  font-weight: 700;
  font-size: .8rem;
  font-family: avenir;
  margin: 5px;

}

.lecabinet-right{
font-size: .7rem;
text-align: justify;



}

.lecabinet-right p{

}


@media(max-width: 600px) {
  .lecabinet-box{
  display: block;
}
.lecabinet-right{
  margin-right: 0px;
  margin-top: 30px;
}
}


.button{
  padding: 10px 20px;
  background: #2a4b80;
  color:white;
  font-family: avenir;
  margin-top: 100px;
  width: 100px;
  font-size: .8rem;
  margin-left:40%;


}

@media(max-width: 600px) {
.bt{
  margin-left: 10%;
  margin-bottom: 50px;

}}

.button:hover{
  background: #204679;
}


.yellowr{
  margin-left: 10px;
}
