.lecabinet-box{
  display: flex;
  margin-bottom: 50px;

}




@media(max-width: 1200px) {
  .lecabinet-box{

  padding: 10% 6%;
}
}

.parcours{
  color:white;
  background: #2a4b80;
  padding: 50px 20px;
  width: 400px;
}


@media(max-width: 901px) {
  .parcours{
  width: 300px;
  margin: auto;
}
}






.parcours p{
  color:white;
  text-align: justify;
  font-weight: 300;

}

.parcours h4{
  color:white;

  text-align: center;
}

.profile-pic{
  width: 400px;
}



@media(max-width: 901px) {
  .profile-pic{
  width: 300px;
  margin: auto;
}
}






.lecabinet-left{
  flex: 0 0 40%;
  margin-right: 50px;

}


.lecabinet-left p{

  font-weight: 700;
  font-size: .8rem;
  font-family: avenir;
  margin: 5px;

}

.lecabinet-right{
font-size: .7rem;
text-align: justify;



}

.lecabinet-right p{

}


@media(max-width: 600px) {
  .lecabinet-box{
  display: block;
}
.lecabinet-right{
  margin-right: 0px;
  margin-top: 30px;
}
}


.button{
  padding: 10px 20px;
  background: #2a4b80;
  color:white;
  font-family: avenir;
  margin-top: 100px;
  width: 100px;
  font-size: .8rem;
  margin-left:40%;


}

@media(max-width: 600px) {
.bt{
  margin-left: 10%;
  margin-bottom: 50px;

}}

.button:hover{
  background: #204679;
}


.yellowr{
  margin-left: 10px;
}
