.bigbox{
  display: flex;
  justify-content: space-between;
 padding-top: 40px;
 margin-top: 60px;


}


@media(max-width: 600px) {
.bigbox{
  display: block


}}

@media(min-width: 1200px){
   .bigbox{


}}

.bleft{
  margin-right: 40px;
  flex: 70%;
}


.background-hono h3{
  color:  #2a4b80;

  font-weight: 700;
   font-family: avenir;
   font-size: .9rem;

 }


.o:hover{
cursor:pointer;
}

.title-spe{
  margin-top: 100px;
}


.p{
  margin-bottom: 60px
}

.subt{
  margin: 40px 0px;
}

.lien{
 box-shadow: 0px 4px 20px rgba(189, 188, 188, 0.25);
  width: 240px;
  height: 200px;
  float: left;
  margin: 10px;
  text-align: center;
  padding: 10px;


}



@media(max-width: 600px) {
.lien{
  float: none;


}}




.lien:hover {
 box-shadow: 0px 4px 20px rgba(189, 188, 188, 0.55);
}


.piclien{
width: 200px;
margin: auto;
padding-top: 30px;

}
