.bigbox{
  display: flex;
  justify-content: space-between;
 padding-top: 40px;
 margin-top: 60px;


}


@media(max-width: 600px) {
.bigbox{
  display: block


}}

@media(min-width: 1200px){
   .bigbox{


}}

.bleft{
  margin-right: 40px;
  flex: 70%;
}


.background-hono h3{
  color:  #2a4b80;
  text-align: justify;
  font-weight: 700;
   font-family: avenir;
   font-size: 1rem;
   line-height: 5px;
 }


.o:hover{
cursor:pointer;
}

.title-spe{
  margin-top: 100px;
}
