.noshonoraires-box{
  display: flex;
  text-align: justify;

}
.noshonoraires-right{
  padding-left: 50px;
}


.high{
  color: #2a4b80;
  font-weight: 700;
  font-size: .9rem;
  font-family: avenir;
  padding: 0px 150px;

}


.background-hono{
padding: 100px;
text-align: justify;
}
