.noshonoraires-box{
  display: flex;
  text-align: justify;
  margin:auto;
  width: 90%;

}
.noshonoraires-right{
  padding-left: 50px;
  flex: 0 0 50%;
}

.noshonoraires-left{
  flex: 0 0 50%;
}


.high{
  color: #2a4b80;
  font-weight: 700;
  font-size: .9rem;
  font-family: avenir;
  width: 70%;
  margin:auto;
  margin-bottom: 80px;
  margin-top: 30px;


}


.background-hono{
padding: 100px;
text-align: justify;
}


.hono-pic{
width: 500px;
}
