

.noshonoraires-box{
  display: flex;
  text-align: justify;
  margin:auto;
  justify-content: space-between;
  padding-top: 40px;
  margin-top: 60px;


}



.noshonoraires-box2{
  display: flex;
  text-align: justify;
  margin:auto;
  justify-content: space-between;
  padding-top: 40px;


}


.noshonoraires-right{
  padding-right: 100px;

}

.noshonoraires-right2{
  padding-left: 100px;

}


.noshonoraires-left{


}


.high{
  color: #2a4b80;
  background:#F5F5F5;
  font-weight: 700;
  font-size: .9rem;
  font-style: italic;

  font-family: avenir;
  width: 100%;
  padding: 50px 20%;
  margin:auto;
      margin-bottom: 100px;



}


.background-hono{
padding: 60px 8%;

}

.background-hono h1{
  font-family: avenir;
  font-size: 1.3rem;
  font-weight: 100;
  color: #2a4b80;
  padding-bottom: 8px;


}


@media(max-width: 601px) {
  .background-hono h1{
margin-top: 10px;
  }
}


@media(max-width: 1200px) {
  .background-hono{
padding: 7%;

}
}


@media(max-width: 600px) {
  .background-hono{
padding: 10%;

}

}



.hono-pic{
width: 300px;
}

@media(max-width: 1200px) {
  .hono-pic{
  width: 400px;
}
}


@media(max-width: 901px) {
  .hono-pic{
  width: 300px;
}
.bt2{
  margin-left: 35%;
}
.bt3{
  margin-left: 25%;
}
}

@media(max-width: 601px) {
  .noshonoraires-box{
  display: block;
}

.noshonoraires-right{
  padding-right: 0px;

}

.noshonoraires-right2{
  padding-left: 0px;

}

.bt2{
  margin-left: 25%;
}
.bt3{
  margin-left: 15%;
}
}


